$p-color: #FFFFFF;
$p-background: #0000FF;
$p-padding: 1rem;
$p-border: 1rem solid #000000;
$p-font1: bold;
$p-font2: italic;
$a-color: #a00;
$a-color-v: #844;
$a-hfa-background: #800;
$a-decoration: none;
$font: Arial;