.bloc p{
    color: $p-color;
    background-color: $p-background;
}

.other-bloc p{
    padding: $p-padding;
    border: $p-border;
}

.element{
    font-weight: $p-font1;
}

.other-element{
    font-style: $p-font2;
}

a{
    text-decoration: underline;
    color: $a-color;
    
    &:visited{
        color: $a-color-v;
    }

    &:hover, &:focus, &:active{
        text-decoration: $a-decoration; 
        color: $p-color; 
        background: $a-hfa-background;
    }
}